title: Help Crate and earn a bounty
description:
heroImg: wrapper-hero-frontpage


{% extends "base.html" %}

{% block header %}
<div class="wrapper wrapper-hero landing-page" id="{{ heroImg }}">
  <div class="container">
    <h1>The Distributed Database for Docker</h1>
    <p class="lead">Want to make Crate even better? We always have tasks that we need help with and would like to offer you a little incenitive for your hard work.</p>
  </div>
</div>
{% endblock %}


{% block body %}
<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">More text? More text?</p>
      </div>
      <div class="col-sm-6">
        <table id="cloudLogos">
          <tr>
            <td colspan="2"><img class="img-responsive thumbnail" src="{% media '/media/1503/crate-logo-165.png' %}" width="165" /></td>
          </tr>
          <tr>
            <td><a href="{% url '/docs/cloud/aws.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/amazon-logo-182.png' %}" width="195" /></a></td>
            <td><a href="{% url '/docs/cloud/gce.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/google-logo-210.png' %}" width="196" /></a></td>
          </tr>
          <tr>
            <td><a href="{% url '/azure/index.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/microsoft-logo-210.png' %}" width="195"/></a></td>
            <td><a href="{% url '/docs/cloud/softlayer.html' %}"><img class="img-responsive thumbnail" src="{% media '/media/1503/softlayer-logo-200.png' %}" width="196"/></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-border wrapper-border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_everywhere.png' %}" width="227">
      </div>
      <div class="col-sm-8">
        <h2>Crate Core</h2>
        <p>Find out more about how to get started with installing and developing for Crate Core here.</p>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright">Add the ability to allow a 'NOT NULL' constraint to column declarations.<br/><a href="https://www.bountysource.com/issues/1859439-add-not-null-constraint" target="_blank">View on Bountysource</a></li>
          <li class="list-group-item bright">Allow for the renaming of tables, ideally through an 'alter' style statement or perhaps 'create synonym' style syntax.<br/><a href="https://www.bountysource.com/issues/2226945-allow-renaming-of-tables">View on Bountysource</a></li>
          <li class="list-group-item bright">To allow for a form of exception handling, functionality should be added to allow for "If table not exists" style SQL syntax, <a href="https://www.bountysource.com/issues/7640082-feature-request-create-table-if-not-exists-sql-functionality" target="_blank">View on Bountysource</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_admin.png' %}" width="227">
      </div>
      <div class="col-sm-8">
        <h2>Crate Python</h2>
        <p>Find out more about how to get started with installing and developing for the Crate Python adapters here.</p>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_scale.png' %}" width="205">
      </div>
      <div class="col-sm-8">
        <h2>Crate JDBC</h2>
        <p>Find out more about how to get started with installing and developing for the Crate JDBC adapters here.</p>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_open-source.png' %}" width="205">
      </div>
      <div class="col-sm-8">
        <h2>Crate Ruby</h2>
        <p>Find out more about how to get started with installing and developing for the Crate Ruby adapters here.</p>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_open-source.png' %}" width="205">
      </div>
      <div class="col-sm-8">
        <h2>Crate ActiveRecord</h2>
        <p>Find out more about how to get started with installing and developing for the Crate ActiveRecord adapter here.</p>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_open-source.png' %}" width="205">
      </div>
      <div class="col-sm-8">
        <h2>Crate PDO</h2>
        <p>Find out more about how to get started with installing and developing for the Crate PDO adapter here.</p>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% media '/media/1503/cloud_open-source.png' %}" width="205">
      </div>
      <div class="col-sm-8">
        <h2>Crate DBAL</h2>
        <p>Find out more about how to get started with installing and developing for the Crate DBAL adapter here.</p>
        <ul class="w-list-unstyled list-group">
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
          <li class="list-group-item bright">A great task, <a href="#">link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
